body{
    background-color: #f5f5f5;
    font-family: roboto;
    margin: auto;
    text-align: center;
}
.login-form, contenedor{
    width: 300px;
    margin: 0 auto;
}
.login-form h1{
    text-align: center;
    color: midnightblue;
    font-size: 28px;
    padding: 70px 0 10px 0;
}
.login-form input[type="password"],
.login-form input[type="text"]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}
/*estilo boton Login */
.btn-login{
    width: 100%;
    padding: 15px;
    background-color: #6f42c1;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
}
/* efectos cursor */
.btn-login:hover, .btn-login:active{
    color: #ffffff;
    background-color: #61428f;
    border-color: #61428f;
}
.btn-login:focus{
    box-shadow:0 0 0 3px rgba(121, 82, 179, 0, 25);
}
/*estilo boton register */
.btn-register{
    width: 100%;
    padding: 15px;
    background-color: #34D339;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    /* dar apariencia al boton */
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
}
/* efectos cursor */
.btn-register:hover, .btn-register:active{
    color: #ffffff;
    background-color: #108981;
    border-color: #108981;
}
.btn-register:focus{
    box-shadow:0 0 0 3px #108981;
}

/* Register */
.register-form{
    width: 400px;
    margin: 0 auto;
    padding: 0px, 20px, 60px, 20px;
    margin-top: 35px;
    font-family: roboto;
    text-align: left;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0, 30), 0 15px 12px rgba(0, 0, 0, 0, 22);
}
.register-form h1{
    text-align: center;
    color: midnightblue;
    font-size: 28px;
    padding: 70px 0 10px 0;
}

.register-form input[type="password"],
.register-form input[type="text"]{
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.btn-cancel{
    width: 100%;
    padding: 15px;
    background-color: red;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
}
