<section id="login_estudiante">
  <div class="contenido">
    <form [formGroup]="loginEstudiante" (ngSubmit)="onSubmit(loginEstudiante)">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input
          type="text"
          id="nickname_estudiante_form"
          placeholder="Usuario"
          class="form-control"
          formControlName="usuario"
        />
        <label class="form-label" for="nickname">Usuario</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input
          type="password"
          id="password_estudiante_form"
          placeholder="Contraseña"
          class="form-control"
          formControlName="password"
        />
        <label class="form-label" for="password">Contraseña</label>
      </div>

      <!-- Submit button -->
      <button
        id="btn_iniciar_sesion"
        type="submit"
        class="btn btn-primary btn-block"
        disabled
      >
        Iniciar sesión
      </button>
      <a class="d-flex justify-content-center py-3" [routerLink]="['/singup']"
        >Crear cuenta nueva</a
      >
    </form>
  </div>
</section>
