*{
  font-family: 'Gilroy' !important;
}

#login_estudiante{
  padding: 40px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#login_estudiante .contenido{
  padding: 40px;
}

#login_estudiante .contenido form{
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
}
