<section id="description-program">
    <article class="content">
      <h2 class="title">¿De qué trata el programa de consejería Estudiantil?</h2>
      <div class="steps">
        
        <div class="col-lg-6 col-md-12">
          <div class="text-content">
            <p>El programa de Consejería Estudiantil <span> CE-SEA </span>, se desarrolla como estrategia de acercamiento directo y permanente a los estudiantes, busca brindar apoyo y orientación a las necesidades de los jóvenes; por lo cual otornga un espacio seguro y confiable en cada escuela, que permite articular las problemáticas del estudiante con los procesos institucionales reconociendo que toda problemática conlleva un impacto emocional que demanda atención y contención brindando orientación desde un abordaje, familiar, afectivo, personal, académico, económico y procesos administrativos.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <img
              src="../../../../../assets/img/img14.jpg"
              class="img-fluid shadow-2-strong"
              alt="Cancha atlética UIS"
            />
          </div>
      </div>
    </article>
  </section>
  