<section id="social-icons">
  <article class="content">
    <div class="card" >
      <div style="position: fixed; top: calc(50% + 4rem); left: calc(100vw / 2 + 40%); z-index: 100;" class="speeddial-delay-demo">
        <p-speedDial
          [model]="items"
          direction="up"
          class="speeddial"
          [transitionDelay]="80"
          showIcon="pi pi-th-large"
        ></p-speedDial>
        <link rel="icon" href="../../../../assets/ico/UIS-ico-blanco.ico">
      </div>
    </div>
  </article>
</section>
