<!-- Carousel wrapper -->
<div id="carouselMaterialStyle" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner rounded-5 shadow-4-strong">
    <!-- Single item -->
    <div class="carousel-item active">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100"
        alt="Sunset Over the City" />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100"
        alt="Canyon at Nigh" />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100"
        alt="Cliff Above a Stormy Sea" />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselMaterialStyle" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->

<!-- VIEJO -->

<section class="cabeza">
  <section class="textos-header">
    <h1>¿Conoces el programa de consejería académica?</h1>
    <h2>Regístrate para saber más</h2>
  </section>

  <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
</section>

<main>

  <section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">Nuestros talleres</h2>


      <!-- UTILIZAR ESTE CUANDO SE TENGA EL ARRAY DE TALLERES -->
      <!-- <ng-template *ngFor="let card of cards">
        <app-workshops-cards></app-workshops-cards>
      </ng-template> -->


      <div class="galeria-port">
        <app-workshops-cards></app-workshops-cards>
        <app-workshops-cards></app-workshops-cards>
        <app-workshops-cards></app-workshops-cards>
        <app-workshops-cards></app-workshops-cards>
      </div>



      <!-- <div class="galeria-port">
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
      </div> -->
    </div>
  </section>
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">Consejería en línea</h2>
    <div class="contenedor-sobre-nosotros">
      <img src="../../../../assets/img/img16.jpg" alt="" class="imagen-about-us">
      <div class="contenido-textos">
        <h3><span>1</span> Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt ipsam harum excepturi! Suscipit eveniet quod quia impedit, deserunt aspernatur quam nostrum hic, dicta, voluptatum est at similique eaque minus.</p>
        <h3><span>1</span> Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt ipsam harum excepturi! Suscipit eveniet quod quia impedit, deserunt aspernatur quam nostrum hic, dicta, voluptatum est at similique eaque minus.</p>
      </div>
    </div>
  </section>
  <section class="clientes contenedor">
    <h2 class="titulo">¿Qué opinan otros estudiantes del programa?</h2>
    <div class="cards">
      <div class="card">
        <img src="../../../../assets/img/img4.jpg" alt="">
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, culpa officiis non doloremque nobis cupiditate repudiandae laudantium iste excepturi consequuntur?</p>
        </div>
      </div>
      <div class="card">
        <img src="../../../../assets/img/img4.jpg" alt="">
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, molestias nobis consequuntur nam placeat enim quia laborum nemo culpa. Maxime?</p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-services">
    <div class="contenedor">
      <h2 class="titulo">Nuestor servicios</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img src="../../../../assets/img/img4.jpg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, dolore.</p>
        </div>
        <div class="servicio-ind">
          <img src="../../../../assets/img/img4.jpg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, dolore.</p>
        </div>
        <div class="servicio-ind">
          <img src="../../../../assets/img/img4.jpg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, dolore.</p>
        </div>
      </div>
    </div>
  </section>
</main>
