<app-banner></app-banner>
<app-card></app-card>
<app-img-card></app-img-card>
<app-opinion-card></app-opinion-card>
<main>


  <section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">Nuestros talleres</h2>


      <!-- UTILIZAR ESTE CUANDO SE TENGA EL ARRAY DE TALLERES -->
      <!-- <ng-template *ngFor="let card of cards">
        <app-workshops-cards></app-workshops-cards>
      </ng-template> -->


      <div class="galeria-port">
        <app-workshops-cards></app-workshops-cards>
        <app-workshops-cards></app-workshops-cards>
        <app-workshops-cards></app-workshops-cards>
        <app-workshops-cards></app-workshops-cards>
      </div>



      <!-- <div class="galeria-port">
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
      </div> -->
    </div>
  </section>
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">Consejería en línea</h2>
    <div class="contenedor-sobre-nosotros">
      <img src="../../../../assets/img/img16.jpg" alt="" class="imagen-about-us">
      <div class="contenido-textos">
        <h3><span>1</span> Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt ipsam harum excepturi! Suscipit eveniet quod quia impedit, deserunt aspernatur quam nostrum hic, dicta, voluptatum est at similique eaque minus.</p>
        <h3><span>1</span> Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt ipsam harum excepturi! Suscipit eveniet quod quia impedit, deserunt aspernatur quam nostrum hic, dicta, voluptatum est at similique eaque minus.</p>
      </div>
    </div>
  </section>
  <section class="clientes contenedor">
    <h2 class="titulo">¿Qué opinan otros estudiantes del programa?</h2>
    <div class="cards">
      <div class="card">
        <img src="../../../../assets/img/img4.jpg" alt="">
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, culpa officiis non doloremque nobis cupiditate repudiandae laudantium iste excepturi consequuntur?</p>
        </div>
      </div>
      <div class="card">
        <img src="../../../../assets/img/img4.jpg" alt="">
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, molestias nobis consequuntur nam placeat enim quia laborum nemo culpa. Maxime?</p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-services">
    <div class="contenedor">
      <h2 class="titulo">Nuestor servicios</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img src="../../../../assets/img/img4.jpg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, dolore.</p>
        </div>
        <div class="servicio-ind">
          <img src="../../../../assets/img/img4.jpg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, dolore.</p>
        </div>
        <div class="servicio-ind">
          <img src="../../../../assets/img/img4.jpg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, dolore.</p>
        </div>
      </div>
    </div>
  </section>
</main>
