#card{
    padding: 30px 30px;
    text-align: center;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
  }
  
  #card .content{
    width: 100%;
    max-width: 1400px;
  }
  
  #card .title{
    color: #3789B6;
    font-family: Amsi;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 40px;
  }
  
  #card .tablas{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #card .content .tablas .eliminar-curso{
    background: linear-gradient(to right, #0362fa 50%, #3b82F6 50%) no-repeat right / 200%;
    width: 42px;
    height: 40px;
    border-radius: 50px;
    border: none;
    color: white;
    font-weight: 600;
    transition: all .25s;
}

#card .content .tablas .eliminar-curso:hover{
    transform: scale(1.1);
    transition: all .25s ease-in-out;
    font-weight: bold;
    background-position: left;
}
  
  #card .product-item{
    background-color: #ffffff;
    height: 350px;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 12px;
    align-items: center;
    margin: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  #card .product-item:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    animation: desliza 1s 0.5s 2 linear, desaparece 1s 0.5s 2 linear;
    cursor: pointer;
    transform: scale(1.05);
  }
  
  #card .content .tabla-psicologos{
    width: 90%;
    margin: 0 auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 8px -2px rgb(0 0 0 / 50%);
}

#card .content .tabla-psicologos thead{
  height: 50px;
  background-color: #3b82F6;
  color: white;
  font-size: 18px;
}

#card .content .tabla-psicologos tbody tr:nth-child(even){
  background-color: white;
}


  #card .product-item-content{
    padding: 15px;
  }
  
  #card .product-item .img-card{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 12px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  
  #card .product-item img{
    width: 100%;
    height: 150px;
    border-radius: 12px;
  }
  
  #card .product-item h4{
    padding-top: 10px;
    font-weight: 500;
    overflow: auto;
  }
  
  #card .product-item p{
    text-align: start;
    font-size: 14px;
  }
  
  #card .btn-rounded{
    margin: 0 auto;
    width: 30%;
  }
  
  @supports(object-fit: cover){
    /* #card .product-item img{
      height: 100%;
      object-fit: fill;
      object-position: center center;
    } */
  }