.gradient-custom {
    /* fallback for old browsers */
    background: #1162ac;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background:radial-gradient(200px top, ellipse, white, #1162ac, black);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background:radial-gradient(200px top, ellipse, white, #1162ac, black);
    }