<!-- Mobile header -->
<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="../assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="#" id="logo">
      Psycho-Project
    </a>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <button (click)="toggleMenu()">X</button>
    <div class="nav__links__side">
      <ul>
        <li><a (click)="toggleMenu()" [routerLink]="['/']">Inicio</a></li>
        <li><a (click)="toggleMenu()" [routerLink]="['/servicios']">Servicios</a></li>
        <li><a (click)="toggleMenu()" [routerLink]="['/preguntas']">Preguntas frecuentes</a></li>
        <li><a (click)="toggleMenu()" [routerLink]="['/blog']">Blog</a></li>
      </ul>
    </div>
    <a (click)="toggleMenu()" [routerLink]="['/login']"><button id="login-mobile">Iniciar Sesión</button></a>
  </div>
</div>

<!-- Desktop header -->

<div class="hide-mobile">
  <section id="attention">
    <p><a href="">¿Quieres hablar con un psicólogo de forma inmediata?</a></p>
  </section>
  <header>
    <img class="logo" src="../assets/img/logoUis.png" alt="logo">
    <nav>
      <ul class="nav__links">
        <li><a [routerLink]="['/']">Inicio</a></li>
        <li><a [routerLink]="['/servicios']">Servicios</a></li>
        <li><a [routerLink]="['/preguntas']">Preguntas frecuentes</a></li>
        <li><a [routerLink]="['/blog']">Blog</a></li>
      </ul>
    </nav>
    <a [routerLink]="['/login']"><button id="login">Iniciar Sesión</button></a>
  </header>
</div>


<!-- Content -->
<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  <div class="footer-container">
    <div class="content-footer">

    </div>
  </div>
  <nav>
    <ul class="nav__links">
      <li><a [routerLink]="['/']">Política de Privacidad</a></li>
      <li><a [routerLink]="['/servicios']">Derechos de Autor</a></li>
      <li><a [routerLink]="['/preguntas']">Administración Portal</a></li>
      <li><a [routerLink]="['/blog']">Enlaces de interés</a></li>
    </ul>
  </nav>
  <hr>
  <section>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nihil maxime vel pariatur doloremque, at illo laboriosam delectus sint omnis libero voluptatem placeat ratione consequatur, odio nulla rem. Eos, voluptatem? </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore vero tenetur porro eligendi saepe, minus magnam? Assumenda quidem aliquid, iste sapiente non maxime eligendi dicta vitae eaque voluptatum fuga dolorum!</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto inventore voluptatem quasi? Dolorum sunt tempore nisi est voluptate eum dicta dolores molestiae velit iusto, aperiam quia. Error totam officiis architecto.</div>
  </section>
</footer>

<app-header></app-header>
