<section id="accordion-questions">
  <article class="content">
    <h2 class="title">Preguntas frecuentes</h2>
    <p-accordion>
      <div *ngFor="let question of questionsList">

        <p-accordionTab
        header= "{{question.asked_by | uppercase}}: ¿{{question.question}}?"
        [selected]="false"
      >
        <p class="answer">
          {{question.answered_by}}: {{question.answer}}
        </p>
        <p class="answer-date">
          {{question.updated_at}}
        </p>
      </p-accordionTab>

      </div>
    </p-accordion>
  </article>
</section>
