<!-- Footer -->
<section id="footer" class="bg-light">
    <footer class="text-center text-lg-start bg-light text-muted">
      <!-- Section: Social media -->
      <section
        class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
      >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
          <span>Síguenos en nuestras redes sociales:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div class="footerIcons">
          <a
            href="https://www.facebook.com/UISenLinea/"
            target="_blank"
            class="me-4 text-reset"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            href="https://twitter.com/UIS"
            target="_blank"
            class="me-4 text-reset"
          >
            <i class="fab fa-twitter"></i>
          </a>
          <a
            href="https://www.google.com/maps/place/Porter%C3%ADa+principal+UIS/@7.1375184,-73.1218637,17.5z/data=!4m9!1m2!2m1!1suis!3m5!1s0x8e68156dacac69f9:0x146fd58e59cbf254!8m2!3d7.1388274!4d-73.1202237!15sCgN1aXMiA4gBAZIBEXB1YmxpY191bml2ZXJzaXR5"
            target="_blank"
            class="me-4 text-reset"
          >
            <i class="fab fa-google"></i>
          </a>
          <a
            href="https://www.instagram.com/uis/"
            target="_blank"
            class="me-4 text-reset"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            href="https://www.linkedin.com/school/universidad-industrial-de-santander/"
            target="_blank"
            class="me-4 text-reset"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>PsychoProject
              </h6>
              <p>
                Esta página es el prototipo del projecto de la Universidad
                Industrial de Santander. Que corresponde a una plataforma para la
                gestión del programa de consejería académica que ofrece la
                Universidad Industrial de Santander.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Desarrollado con:</h6>
              <p>
                <a href="#!" class="text-reset">phpMyAdmyn</a>
              </p>
              <p>
                <a href="#!" class="text-reset">nodeJs</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Angular</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Bootstrap</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Enlaces de interés</h6>
              <p>
                <a class="text-reset">Estudiantes UIS</a>
              </p>
              <p>
                <a class="text-reset">Página UIS</a>
              </p>
              <p>
                <a class="text-reset">Eventos</a>
              </p>
              <p>
                <a class="text-reset">Ayuda</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
              <p><i class="fas fa-home me-3"></i> Bucaramanga, Santander, COL</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                correo@correo.uis.edu.co
              </p>
              <p><i class="fas fa-print me-3"></i> PBX: (57) (7) 6344000</p>
              <p><i class="fas fa-phone me-3"></i> 6344000</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
  
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">UIS</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
  