<div class="content">
  <img src="../../../assets/img/landing.jpg" alt="landing" id="landing">
  <div class="text-box">
    <h2>¿HAS ESCUCHADO SOBRE EL PROGRAMA DE CONSEJERÍA ACADÉMICA?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias nesciunt necessitatibus reiciendis praesentium nostrum quia facilis, repellat totam rem saepe deleniti pariatur fugiat. Fugit, modi nesciunt? Fugit a eum doloribus.
    </p>
    <div class="landing-form">
      <input type="email" placeholder="Ingresa tu correo">
      <a [routerLink]="['/singup']">Regístrate</a>
    </div>
  </div>
</div>
