<section class="cabeza">
  <section class="textos-header">
    <h1>¿Conoces el programa de consejería académica?</h1>
    <h2>Regístrate para saber más</h2>
  </section>

  <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path></svg></div>
</section>

<main>

  <section class="portafolio">
    <div class="contenedor">
      <h2 class="titulo">Nuestros talleres</h2>
      <div class="galeria-port">
        <div class="imagen-port">
          <img src="../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
        <div class="imagen-port">
          <img src="../../../assets/img/img13.jpg" alt="" srcset="">
          <div class="hover-galeria">
            <img src="../../../assets/img/Shapes.png" alt="">
            <p>Nuestro trabajo</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contenedor sobre-nosotros">
    <h2 class="titulo">Consejería en línea</h2>
    <div class="contenedor-sobre-nosotros">
      <img src="../../../assets/img/img16.jpg" alt="" class="imagen-about-us">
      <div class="contenido-textos">
        <h3><span>1</span> Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt ipsam harum excepturi! Suscipit eveniet quod quia impedit, deserunt aspernatur quam nostrum hic, dicta, voluptatum est at similique eaque minus.</p>
        <h3><span>1</span> Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt ipsam harum excepturi! Suscipit eveniet quod quia impedit, deserunt aspernatur quam nostrum hic, dicta, voluptatum est at similique eaque minus.</p>
      </div>
    </div>
  </section>
  <section class="clientes contenedor">
    <h2 class="titulo">Qué dicen nuestros clientes</h2>
    <div class="cards">
      <div class="card">
        <img src="../../../assets/img/img4.jpg" alt="">
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et, culpa officiis non doloremque nobis cupiditate repudiandae laudantium iste excepturi consequuntur?</p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/img4.jpg" alt="">
        <div class="contenido-texto-card">
          <h4>Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, molestias nobis consequuntur nam placeat enim quia laborum nemo culpa. Maxime?</p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-services">
    <div class="contenedor">
      <h2 class="titulo">Nuestor servicios</h2>
      <div class="servicio-cont">
        <div class="servicio-ind">
          <img src="../../../assets/img/img4.jpg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, dolore.</p>
        </div>
        <div class="servicio-ind">
          <img src="../../../assets/img/img4.jpg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, dolore.</p>
        </div>
        <div class="servicio-ind">
          <img src="../../../assets/img/img4.jpg" alt="">
          <h3>Name</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere, dolore.</p>
        </div>
      </div>
    </div>
  </section>
</main>
