<section id="opinionCard">
  <article class="content">
    <h2 class="title">¿Qué opinan los estudiantes del programa?</h2>
    <div class="row cards">
      <div class="card">
        <img
          src="../../../../../assets/img/estudiante2.webp"
          class="card-img-top"
          alt="Fissure in Sandstone"
        />
        <div class="card-body">
          <h3 class="card-title font-weight-bold">Andrés Herrera</h3>
          <p class="card-text">
            El programa de apoyo académico de la UIS fue una herramienta importante
            en el recorrido de mi carrera.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../../../assets/img/estudiante1.webp"
          class="card-img-top"
          alt="Fissure in Sandstone"
        />
        <div class="card-body">
          <h3 class="card-title font-weight-bold">Laura González</h3>
          <p class="card-text">
            El programa de apoyo académico de la UIS fue una herramienta importante
            en el recorrido de mi carrera.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="../../../../../assets/img/estudiante3.webp"
          class="card-img-top"
          alt="Fissure in Sandstone"
        />
        <div class="card-body">
          <h3 class="card-title font-weight-bold">Camila Cabello</h3>
          <p class="card-text">
            El programa de apoyo académico de la UIS fue una herramienta importante
            en el recorrido de mi carrera.
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
