#opinionCard{
  padding: 30px 60px;
  text-align: center;
  background-color: #F2F2F2;
  display: flex;
  justify-content: center;
}

#opinionCard .content{
  width: 100%;
  max-width: 1400px;
}

.title{
  color: #3789B6;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
}
