<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light ">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="../../../../assets/img/logoUis.png"
          height="30"
          alt="UIS Logo"
          loading="lazy"
        />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/servicios']">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/preguntas']">Preguntas frecuentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog']">Blog</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <button type="button" class="btn btn-link px-3 me-2" [routerLink]="['/login']">
        Iniciar sesión
      </button>
      <button type="button" class="btn btn-primary me-3" [routerLink]="['/singup']">
        Registrarme
      </button>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
