/* Importar fuentes custom*/
@font-face{
	font-family: "yanone";
	src: url("./assets/fonts/yanone.ttf");
}

@font-face{
  font-family: "finger";
	src: url("./assets/fonts/finger.ttf");
}

@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

/*Generales*/

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 20px;
	/* background-attachment: fixed; */
}

.clearfix{
  float:none;
	clear:both;
}

.show-mobile{
  display: block;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}

.show-mobile > div{
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-mobile > div button{
  border: 0;
  background: transparent;
}

.side-menu button{
  padding-left: 90%;
  font-size: 16px;
  font-weight: bold;
}

.show-mobile .side-menu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translateX(-100%);
  transition: all ease-out .5s;
}

.side-menu.active{
  transform: translateX(0%);

}

.show-mobile .side-menu ul li{
  padding-top: 25px;
}

.show-mobile .side-menu ul li a:active{
  background-color: #00817D;
}

.side-menu ul{
  margin-bottom: 450px;
}

.show-mobile  ul li a{
  text-decoration: none;
  color: black;
}

.nav__links__side{

  width: 90%;
}

.nav__links__side ul li{
  padding: 4px 0px;
}

#login-mobile{
  width: 120px;
  padding: 9px 10px;
  background-color: #00817D;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  align-self: flex-end;
}

.hide-mobile{
  display: none;
  box-shadow: 0px 2px 5px rgb(black, .2);
}

.hide-mobile div{
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide-mobile div .logo{
  margin-right: 1em;
}

.hide-mobile div nav{
  display: flex;
  align-items: center;
}

.hide-mobile div nav ul{
  display: flex;
}

.hide-mobile div nav ul a{
  margin: 0 .2em;
  color: inherit;
  text-decoration: none;
}

/*Barra de navegacion / cabecera*/

#attention{
  /* background-color: darkgray; */
  background-color: #d4d5d9;
  text-align: center;
  padding: 5px 0px;
}

#attention a{
  text-decoration: none;
  color: rgb(102, 102, 102);
  font-weight: bold;
}

/* Header */

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 10%;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}

.logo{
  cursor: pointer;
  height: 40px;
}

#logo{
  color: #00817D;
  font-weight: bold;
}

.nav__links li{
  display: block;
  padding: 0px 20px;
}

.nav__links li a{
  transition: all 0.3s ease 0s;
  color: rgb(102, 102, 102);
  text-decoration: none;
}

/* Prueba */
.nav__links.active{
  background-color: #73dbe2;
}

.nav__links li a:hover{
  color:rgba(0, 0, 0, 0.75);
  font-weight: bold;
}

#login{
  width: 120px;
  padding: 9px 10px;
  background-color: #00817D;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

#login:hover{
  background-color: #00817D;
  color: white;
  font-weight: bold;
}

/*Contenedor principal*/

#content{
	min-height: 700px;
	height: auto;
	width: 100%;
	margin: 0px auto;
	border-left:1px solid #b7b7b7;
	border-right:1px solid #b7b7b7;
	background: rgba(255, 255, 255, 0.7);
	overflow: auto;
}

/*Pie de pagina*/
footer{
	width: 100%;
	margin: auto;
	display: block;
  align-items: center;

	justify-content: space-between;
	padding: 25px 15px;
	color: rgba(0, 0, 0, 0.5);
	background-color: #d3d5d9;
}

footer nav{
  width: 100%;
  margin: auto;
}

footer nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer nav ul li{
  margin-bottom: 15px;
}

footer section{
  display: block;
}

footer section div{
  margin: 10px 15px;
  text-align: justify;
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
  .nav__links{
    display: flex;
  }
  footer{
    color: red;
  }
  footer section{
    display: flex;
  }
  footer nav ul{
    flex-direction: row;
    justify-content: center;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  .show-mobile {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
  .nav__links{
    display: flex;
  }
  footer{
    color: blue;
  }
  footer section{
    display: flex;
  }
  footer nav ul{
    flex-direction: row;
    justify-content: center;
  }

}
