/* Importar fuentes custom*/
@font-face{
	font-family: "yanone";
	src: url("./assets/fonts/yanone.ttf");
}

@font-face{
  font-family: "finger";
	src: url("./assets/fonts/finger.ttf");
}

@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');

/*Generales*/

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}

body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 20px;
	/* background-attachment: fixed; */
}
