<footer>
    <div class="footer-container">
      <div class="content-footer">
  
      </div>
    </div>
    <nav>
      <ul class="nav__links">
        <li><a [routerLink]="['/']">Política de Privacidad</a></li>
        <li><a [routerLink]="['/servicios']">Derechos de Autor</a></li>
        <li><a [routerLink]="['/preguntas']">Administración Portal</a></li>
        <li><a [routerLink]="['/blog']">Enlaces de interés</a></li>
      </ul>
    </nav>
    <hr>
    <section>
      <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nihil maxime vel pariatur doloremque, at illo laboriosam delectus sint omnis libero voluptatem placeat ratione consequatur, odio nulla rem. Eos, voluptatem? </div>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore vero tenetur porro eligendi saepe, minus magnam? Assumenda quidem aliquid, iste sapiente non maxime eligendi dicta vitae eaque voluptatum fuga dolorum!</div>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto inventore voluptatem quasi? Dolorum sunt tempore nisi est voluptate eum dicta dolores molestiae velit iusto, aperiam quia. Error totam officiis architecto.</div>
    </section>
  </footer>