<section id="videos">
  <article class="content">
    <h2 class="title">Videos consejería estudiantil</h2>
    <p-carousel
      [value]="videos"
      styleClass="custom-carousel"
      [numVisible]="3"
      [numScroll]="1"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
    >
      <!-- <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/yXtqQU_m6GU"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe> -->
      <ng-template let-videos pTemplate="item">
        <div class="product-item">
          <iframe width="560" height="315" [src]="getVideoIframe(videos.url)" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <p>{{videos.description}}</p>
        </div>
      </ng-template>
    </p-carousel>
    
  </article>
</section>
