<section id="misCitas">
  <article class="content">
    <h1 class="titulo">BIENVENIDO</h1>
    <div id="mensaje" *ngIf="mostrarNotificacion">
      <p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
    </div>
    <div class="tablas">
      <table id="citasEstudiante" #tablas style="width: 80%;">
        <thead style="font-size: 16px;
        font-weight: bold;
        background-color: #3b82F6;
        border-top-left-radius: 12px;
        height: 20px;">
          <tr style="height: 60px; ">
            <th style="padding-left: 20px; color: white;">Id</th>
            <th style="padding-left: 20px; color: white;">Psicólog@</th>
            <th style="padding-left: 20px; color: white;">Fecha creación</th>
            <th style="padding-left: 20px; color: white;">Fecha cita</th>
            <th style="padding-left: 20px; color: white;">Hora</th>
            <th style="padding-left: 20px; color: white; padding-right: 40px;">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citasEstudiante">
            <td style="padding: 10px 0 10px 20px;
            border-bottom: 1px solid #c2c2c2; font-weight: 600;">{{ cita.id  }}</td>
            <td style="padding: 10px 0 10px 20px;
            border-bottom: 1px solid #c2c2c2;">{{ cita.psychology.name }}</td>
            <td style="padding: 10px 0 10px 20px;
            border-bottom: 1px solid #c2c2c2;">{{ cita.date_request | date }}</td>
            <td style="padding: 10px 0 10px 20px;
            border-bottom: 1px solid #c2c2c2;">{{ cita.date_appointment | date }}</td>
            <td style="padding: 10px 0 10px 20px;
            border-bottom: 1px solid #c2c2c2;">{{ cita.date_appointment | date: "h:mm a" }}</td>
            <td style="padding: 10px 0 10px 20px;
            border-bottom: 1px solid #c2c2c2; padding-right: 40px;">{{ cita.status_appointment }}</td>
          </tr>
        </tbody>
      </table>
      <table class="citasEstudiante_cancelar">
        <thead>
          <tr>
            <th style="background-color: #3b82F6; color: white; height: 60px;">Cancelar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citasEstudiante">
            <td>
              <button class="boton-cancelar" *ngIf="cita.status_appointment== 'active' " (click)="alertaCancelacion()">X</button>
              <button class="boton-cancelar" *ngIf="cita.status_appointment== 'canceled' " disabled>X</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="descargar-tabla" (click)="descargarTabla()">Descargar tabla</button>
  </article>
</section>
