<section>
  <h2 class="title">Consejería en línea</h2>
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <img
        src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp"
        class="img-fluid shadow-2-strong"
        alt="Palm Springs Road"
      />

    </div>
    <div class="col-lg-6 col-md-12">
      <div class="text-content">
        <h3><span class="bg-primary number">1</span> Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt ipsam harum excepturi! Suscipit eveniet quod quia impedit, deserunt aspernatur quam nostrum hic, dicta, voluptatum est at similique eaque minus.</p>
        <h3><span class=" bg-primary number">1</span> Los mejores productos</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt ipsam harum excepturi! Suscipit eveniet quod quia impedit, deserunt aspernatur quam nostrum hic, dicta, voluptatum est at similique eaque minus.</p>
      </div>
    </div>
  </div>
</section>
