#imgCard{
  padding: 30px 60px;
  text-align: center;
  background-color: white;
  display: flex;
  justify-content: center;
}

#imgCard .content{
  width: 100%;
  max-width: 1400px;
}

.title{
  color: #3789B6;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
}

.number{
  text-align: center;
  color: white;
  min-width: 35px;
  height: 150px;
}

.text-content{
  padding: 30px 0;
}

.text-content h3 span{
  color: white;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.text-content p{
  text-align: justify;
}
