<section id="imgCard">
  <article class="content">
    <h2 class="title">Consejería en línea</h2>
    <div class="steps">
      <div class="col-lg-6 col-md-12">
        <img
          src="../../../../../assets/img/img12.jpg"
          class="img-fluid shadow-2-strong"
          alt="Cancha atlética UIS"
        />
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="text-content">
          <div class="subTitle">
            <span class="bg-primary number">1</span> 
            <h3>Regístrate</h3>
          </div>
          <p>
            En la página de consejería académica encontrarás ayuda para hacer de tu
            estadía en la UIS y el desarrollo de tu vida universitaria esté acompañada 
            de una guía personalizada.
          </p>
          <div class="subTitle">
            <span class="bg-primary number">2</span> 
            <h3>Programa tu primer cita</h3>
          </div>
          <p>
            ¿Necesitas ayuda? ¿Quieres conocer más de la UIS? ¿Quieres saber más del 
            programa de la consejería académica? ¡No te preocupes! Programa tu primer cita
            y busca el acompañamiento que necesitas.
          </p>
          <div class="subTitle">
            <span class="bg-primary number">3</span> 
            <h3>Estamos contigo</h3>
          </div>
          <p>
            ¡Contamos con redes sociales donde podrás encontrar información importante
            sobre nuestras actividades, la universidad, y mucho más!
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
