<section id="workshop-cards">
  <article class="content">
    <h2 class="title">Nuestros psicólogos</h2>
    <div class="cards">
      <div class="card">
        <!-- <app-workshop></app-workshop> -->
        <div class="imagen-port">
          <img src="../../../../assets/img/psicologa.webp" alt="" srcset="" />
          <div class="hover-galeria" (click)="open()">
            <img src="../../../../assets/img/caritaFeliz.png" alt="" />
            <h2>Diana Romero</h2>
          </div>
        </div>
      </div>
      <div class="card">
        <!-- <app-workshop></app-workshop> -->
        <div class="imagen-port">
          <img src="../../../../assets/img/psicologa2.webp" alt="" srcset="" />
          <div class="hover-galeria" (click)="open()">
            <img src="../../../../assets/img/caritaFeliz.png" alt="" />
            <h2>Andrés Pérez</h2>
          </div>
        </div>
      </div>
      <div class="card">
        <!-- <app-workshop></app-workshop> -->

        <div class="imagen-port">
          <img src="../../../../assets/img/psicologa3.webp" alt="" srcset="" />
          <div class="hover-galeria" (click)="open()">
            <img src="../../../../assets/img/caritaFeliz.png" alt="" />
            <h2>Daniela Gómez</h2>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
