#workshop-cards{
  margin: 40px 0;
    display: flex;
    justify-content: center;
}

#workshop-cards .content{
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 1400px;
}

#workshop-cards .content .card{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border: none;
}

#workshop-cards .content .titulo{
  color: #3789B6;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
}
